absl-py==1.1.0
akshare==1.6.62
altair==4.2.0
aniso8601==9.0.1
ansicon==1.89.0
anyio==3.6.1
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
astunparse==1.6.3
attrs==21.4.0
audioread==2.1.9
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
bleach==5.0.0
blinker==1.4
Brian2==2.5.0.3
bs4==0.0.1
cachetools==5.2.0
cattrs==22.1.0
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
ci-sdr==0.0.0
click==8.0.0
cloudpickle==2.2.1
colorama==0.4.5
ConfigArgParse==1.5.3
console==0.9907
ctc-segmentation==1.7.1
cycler==0.11.0
Cython==0.29.30
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.5.1
Distance==0.1.3
docutils==0.19
einops==0.4.1
entrypoints==0.4
espnet==202205
espnet-tts-frontend==0.0.3
et-xmlfile==1.1.0
exceptiongroup==1.0.0rc8
executing==0.8.3
ezenv==0.92
Farama-Notifications==0.0.4
fast-bss-eval==0.1.3
fastapi==0.78.0
fastjsonschema==2.15.3
filelock==3.7.1
Flask==2.1.2
Flask-Cors==3.0.10
flask-restx==0.5.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
flatbuffers==23.1.21
fonttools==4.33.3
g2p-en==2.1.0
gast==0.4.0
gevent==21.8.0
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.17.3
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
graphviz==0.20.1
greenlet==1.1.2
grpcio==1.54.0
gym==0.25.0
gym-notices==0.0.8
gymnasium==0.28.1
h5py==3.7.0
html5lib==1.1
humanfriendly==10.0
idna==3.3
importlib-metadata==4.11.4
importlib-resources==5.8.0
inflect==5.6.0
ipykernel==6.15.0
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.1
itsdangerous==2.1.2
jaconv==0.3
jamo==0.4.1
jax-jumpy==1.0.0
jedi==0.18.1
Jinja2==3.1.2
jinxed==1.2.0
joblib==1.1.0
jsonpatch==1.32
jsonpath==0.82
jsonpointer==2.3
jsonschema==4.6.0
jupyter-client==7.3.4
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
kaldiio==2.17.2
keras==2.11.0
Kivy==2.1.0
kivy-deps.angle==0.3.2
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.4.5
Kivy-Garden==0.1.5
kiwisolver==1.4.2
libclang==15.0.6.1
librosa==0.8.1
llvmlite==0.38.1
loguru==0.6.0
lxml @ file:///C:/Users/Administrator/Downloads/lxml-4.8.0-cp38-cp38-win_amd64.whl
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mistune==0.8.4
mpmath==1.2.1
multiprocess==0.70.13
mysqlclient==2.1.0
nbclient==0.6.4
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==3.1
nltk==3.7
notebook==6.4.12
numba==0.55.2
numpy==1.22.4
oauthlib==3.2.0
opencv-python==4.6.0.66
openpyxl==3.0.10
opt-einsum==3.3.0
packaging==21.3
palettable==3.3.0
pandas==1.4.3
pandocfilters==1.5.0
parso==0.8.3
pickleshare==0.7.5
Pillow==9.1.1
pooch==1.6.0
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==4.22.3
psutil==5.9.1
pure-eval==0.2.2
py-cpuinfo==8.0.0
py-mini-racer==0.6.0
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.9.1
pydeck==0.7.1
pyftg==1.0.2
pygame==2.1.2
pyglet==1.5.27
Pygments==2.12.0
Pympler==1.0.1
PyMySQL==0.10.1
pynndescent==0.5.7
pyparsing==3.0.9
pypinyin==0.44.0
pypiwin32==223
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyreadline3==3.4.1
pyrsistent==0.18.1
python-dateutil==2.8.2
pytorch-wpe==0.0.1
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.3.0
pywin32==304
pywinpty==2.0.5
pyworld==0.3.0
PyYAML==5.4.1
pyzmq==23.2.0
regex==2022.6.2
requests==2.27.1
requests-cache==0.9.5
requests-oauthlib==1.3.1
resampy==0.2.2
rsa==4.8
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
semver==2.13.0
Send2Trash==1.8.0
sentencepiece==0.1.96
shadowsocks==2.8.2
simplejson==3.17.6
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
sounddevice==0.4.4
SoundFile==0.10.3.post1
soupsieve==2.3.2.post1
SQLAlchemy==1.4.40
stack-data==0.3.0
starlette==0.19.1
stockstats==0.4.1
streamlit==1.8.0
sympy==1.10.1
TA-Lib @ file:///C:/Users/Administrator/Desktop/wxy/TA_Lib-0.4.24-cp38-cp38-win_amd64.whl
tabulate==0.8.10
tensorboard==2.13.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow-io-gcs-filesystem==0.30.0
termcolor==2.2.0
terminado==0.15.0
threadpoolctl==3.1.0
tianshou==0.5.0
tinycss2==1.1.1
toml==0.10.2
toolz==0.11.2
torch==2.0.1+cu118
torch-complex==0.4.3
torchaudio==2.0.2
torchfile==0.1.0
torchvision==0.15.2+cu118
torchviz==0.0.2
tornado==6.1
tqdm==4.64.0
traitlets==5.3.0
tushare==1.2.85
typeguard==2.13.3
typer==0.4.1
typing_extensions==4.5.0
tzdata==2022.1
tzlocal==4.2
umap-learn==0.5.3
Unidecode==1.3.4
url-normalize==1.4.3
urllib3==1.26.9
validators==0.20.0
visdom==0.1.8.9
watchdog==2.1.9
wcwidth==0.2.5
webencodings==0.5.1
webrtcvad-wheels==2.0.10.post2
websocket-client==0.57.0
Werkzeug==2.1.2
widgetsnbextension==3.6.1
win32-setctime==1.1.0
wincertstore==0.2
wrapt==1.14.1
WTForms==3.0.1
xlrd==2.0.1
zipp==3.8.0
zope.event==4.5.0
zope.interface==5.4.0
